.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem 6rem;
  width: 100%;
}

.mainText {
  grid-column: 1/3;
  color: white;
}

.h1 {
  font-size: 3rem;
  color: white;
}

.formWrapper {
  margin-top: 5rem;
}

.emailInput {
  background-color: white;
  padding: 1rem 1.2rem;
  font-size: 1.2rem;
  border: none;
  color: var(--primary-text);
  width: 100%;
  max-width: 450px;
}

.emailInput:focus {
  outline: 2px solid var(--primary);
}

.emailInput::placeholder {
  color: var(--text-mute);
}

.submitButton {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: none;
  background-color: var(--primary);
  color: white;
  font-weight: 500;
}

.submitButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.ctaImage {
  width: auto;
  height: 400px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .main {
    padding: 1rem 2rem;
    display: block;
    display: flex;
    flex-direction: column-reverse;
  }

  .ctaImage {
    height: 250px;
    margin-top: 2rem;
  }

  .h1 {
    font-size: 2.5rem;
  }

  .formWrapper {
    margin-top: 2rem;
  }

  .emailInput {
    max-width: none;
  }

  .submitButton {
    margin-top: 1rem;
    width: 100%;
  }
}
