:root {
  --primary: #ff9955;
  --text-mute: #c7c7c7;
  --primary-text: rgba(0, 0, 0, 0.7);
  --blue: #a9c2ee;
  --pink: #f9c2eb;
  --hero-gradient: linear-gradient(to bottom, #a2c2f2 0%, #cac1f1 100%);
}

/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  /*background: var(--hero-gradient);*/

  background: linear-gradient(
    to bottom right,
    var(--blue),
    var(--pink),
    var(--blue),
    var(--pink),
    var(--blue),
    var(--pink),
    var(--blue),
    var(--pink)
  );
  background-repeat: no-repeat;
  background-size: 1000% 1000%;
  animation: gradient 40s ease infinite;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@media (max-width: 800px) {
  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}
