.container{
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

@media(max-width: 2000px){
    .container {
        max-width: 1600px;
    }
}

